{% extends 'classifier_app/headerPage.html' %}

{% block content%}

    <h3 style="font-family: cursive;">Image Classifier</h3>

    
    <br>
   
    <form method="post" enctype="multipart/form-data" action="predictImage">
  
 {% csrf_token %}
 <div class="col-md-4 col-sm-4"><label for="fname">Upload Image File Here:</label> <br></div> <input name="filePath" type="file"><br><br>
 <br>
 <button type="submit" class="btn btn-light" value="Submit">Classify</button>

 <!-- <input type="submit" value="Submit" ></div> -->
 <br>
 {% if filePathName != None %}
 <h2>{{predictedLabel}}</h2>
 <img src={{filePathName}} alt='imagename'>
 {% endif %}
 



</form>
<br>


{% endblock %}